.navbar1 {
    width: 1170px;
    height: 55px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 70px;
    background-color: #F9F9F9;

    ul {
        display: flex;
        gap: 40px;
padding-top: 10px;
        li {
            font-size: 15px;
            font-weight: 500;
            line-height: 23px;
        }
    }

}